# 割愛

# 追記ここから
    <div class="comment-wrapper">
    <p>コメント一覧</p>
    <% @arts.each do |c| %>
        <div>
        <%= c.user.email unless c.user.blank? %>
        <br>
        <%= c.content %>
        </div>
        <br>
    <% end %>

    <% if user_signed_in? %>
        <%= form_with(model: [@art, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
            <i class="far fa-comments"></i> コメントする
        <% end %>
        <% end %>
    <% end %>
    </div>
    #追記ここまで
